extends layout

block head
    // script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')

block body
    ul
    - console.log('hoge');
    - console.log(files);
    each file in files
        ui file
